<form action="/developers/add" method="post">
    <label for="name">Developer Name</label>
    <input name="developerName" id="name" type="text" placeholder="Enter developer name">
    <button type="submit">Add</button>
</form>