<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../style.css" />

    <title>Add a Developer</title>
  </head>
  <body>
    <header>
      <a class="headerLinks" href="/">Home</a>
      <a class="headerLinks" href="/games">Games</a>
      <a class="headerLinks" href="/genres">Genres</a>
      <a class="headerLinks" href="/developers">Developers</a>
    </header>
    <main>
      <form class="add-item-form" action="/developers/add" method="post">
        <label class="add-item-title" for="name">Developer Name</label>
        <input
          name="developerName"
          id="name"
          class="add-item-box"
          type="text"
          placeholder="Enter developer name"
        />
        <br>
        <button type="submit" class="form-submit-button button big-submit-button">Add</button>
      </form>
    </main>
  </body>
</html>
