<form action="/genres/add" method="post">
    <label for="name">Genre Name</label>
    <input name="genreName" id="name" type="text" placeholder="Enter genre name">
    <button type="submit">Add</button>
</form>