<!-- views/games.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/games">Games</a>
      <a href="/genres">Genres</a>
      <a href="/developers">Developers</a>
      <a href="/games/add">Add Game</a>
    </header>
    <h1>Games List</h1>
    <div class="game-list">
      <% games.forEach(game => { %>
        <a href="/games/<%= game.id %>"><%= game.name %></a>
      <% }); %>
    </div>
  </body>
</html>

<p>games</p>
