<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />

    <title>Home</title>
  </head>
  <body>
    <header>
      <a class="headerLinks" href="/">Home</a>
      <a class="headerLinks" href="/games">Games</a>
      <a class="headerLinks" href="/genres">Genres</a>
      <a class="headerLinks" href="/developers">Developers</a>
    </header>
    <main>
      <h1>Welcome</h1>
      <p class="home-explanation">This is a collection of games that anyone can add, edit, or delete to.</p>
      <div class="home-intro-games">
        <p>Checkout already added</p>
        <a href="/games" class="cardButton">Games</a>
      
      <p class="home-intro-or">or</p>
      <a href="/genres" class="cardButton">Genres</a>
      <p class="home-intro-or">or</p>
      <a href="/developers" class="cardButton">Developers</a>
    </div>
    </main>
  </body>
</html>
